
@{
    ViewBag.Title = "訂單查詢";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="~/Order/search" method="get">
            <table class="table table-striped">
                <tr><td>訂單編號</td><td>@Html.TextBox("OrderID")</td></tr>
                <tr><td>客戶名稱</td><td>@Html.TextBox("CustomerName")</td></tr>
                <tr><td>負責員工</td><td>@Html.DropDownList("EmployeeName", (List<SelectListItem>)ViewBag.EmpData)</td></tr>
                <tr><td>出貨公司</td><td>@Html.DropDownList("CompanyName", (List<SelectListItem>)ViewBag.ComData)</td></tr>
                <tr><td>訂購日期</td><td><input type="date" name="OrderDate" /></td></tr>
                <tr><td>出貨日期</td><td><input type="date" name="ShipperDate" /></td></tr>
                <tr><td>需要日期</td><td><input type="date" name="RequiredDate" /></td></tr>
                <tr><td><input type="submit" /><input type="reset" /></td></tr>

            </table>
        </form>

        <table class="table table-striped">
            <tr><td>所有訂單</td></tr>
            <tr>
                <td>訂單編號</td>
                <td>客戶編號</td>
                <td>客戶名稱</td>
                <td>負責員工</td>
                <td>訂單日期</td>
            </tr>
            @foreach (var item in (List<eSale.Models.Order>)ViewBag.data)
            {
                <tr>
                    <td>@item.OrderID</td>
                    <td>@item.CustName</td>
                    <td>@item.OrderDate</td>
                    <td>@item.ShippedDate</td>
                </tr>
            }
        </table>




    </div>
</body>
</html>
