@model eSale.Models.Order

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm("InsertOrder", "Order", FormMethod.Post, new { id = "form3" }))
{
    <table class="table table-striped">

        <tr><td>客戶名稱</td><td>@Html.DropDownListFor(model => model.CustomerID, (List<SelectListItem>)ViewBag.CustData)</td></tr>
        <tr><td>負責員工名稱</td><td>@Html.DropDownListFor(model => model.EmployeeID, (List<SelectListItem>)ViewBag.EmpData)</td></tr>
        <tr><td>訂單日期</td><td>@Html.TextBoxFor(model => model.OrderDate, new { @type = "date" })</td></tr>
        <tr><td>需要日期</td><td>@Html.TextBoxFor(model => model.RequiredDate, new { @type = "date" })</td></tr>
        <tr><td>出貨日期</td><td>@Html.TextBoxFor(model => model.ShippedDate, new { @type = "date" })</td></tr>
        <tr><td>出貨公司名稱</td><td>@Html.DropDownListFor(model => model.ShipperID, (List<SelectListItem>)ViewBag.ComData)</td></tr>
        <tr><td>運費</td><td>@Html.TextBoxFor(model => model.Freight)</td></tr>
        <tr><td>出貨國家</td><td>@Html.TextBoxFor(model => model.ShipCountry)</td></tr>
        <tr><td>出貨城市</td><td>@Html.TextBoxFor(model => model.ShipCity)</td></tr>
        <tr><td>出貨地區</td><td>@Html.TextBoxFor(model => model.ShipRegion)</td></tr>
        <tr><td>郵遞區號</td><td>@Html.TextBoxFor(model => model.ShipPostalCode)</td></tr>
        <tr><td>出貨地址</td><td>@Html.TextBoxFor(model => model.ShipAddress)</td></tr>
        <tr>
            <td>出貨說明</td><td>@Html.TextBoxFor(model => model.ShipName)</td>
            <td><input type="hidden" name="vercode" value="true" /></td>
        </tr>

        <tr><td><input type="submit" /><input type="reset" /></td></tr>
    </table>
}

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>
