@model eSale.Models.Order
@{
    ViewBag.Title = "UpdateOrder";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")




<h2>UpdateOrder</h2>
@using (Html.BeginForm("UpdateOrderAction", "Order",FormMethod.Post,new { id="form2"})) {
    <table class="table table-striped">

        <tr><td>訂單編號</td><td>@Html.TextBoxFor(model => model.OrderID,new { @Disabled = true})@Html.TextBoxFor(model => model.OrderID, new { @type = "hidden" })</td></tr>
        <tr><td>*客戶名稱</td><td>@Html.DropDownListFor(model => model.CustomerID, (List<SelectListItem>)ViewBag.CustData)</td></tr>
        <tr><td>*負責員工名稱</td><td>@Html.DropDownListFor(model => model.EmployeeID, (List<SelectListItem>)ViewBag.EmpData)</td></tr>
        <tr><td>*訂單日期</td><td>@Html.TextBoxFor(model => model.OrderDate,new { @type="date"})</td></tr>
        <tr><td>*需要日期</td><td>@Html.TextBoxFor(model => model.RequiredDate, new { @type = "date" })</td></tr>
        <tr><td>出貨日期</td><td>@Html.TextBoxFor(model => model.ShippedDate, new { @type = "date" })</td></tr>
        <tr><td>*出貨公司名稱</td><td>@Html.DropDownListFor(model => model.ShipperID, (List<SelectListItem>)ViewBag.ComData)</td></tr>
        <tr><td>運費</td><td>@Html.TextBoxFor(model=>model.Freight)</td></tr>
        <tr><td>出貨國家</td><td>@Html.TextBoxFor(model => model.ShipCountry)</td></tr>
        <tr><td>出貨城市</td><td>@Html.TextBoxFor(model => model.ShipCity)</td></tr>
        <tr><td>出貨地區</td><td>@Html.TextBoxFor(model => model.ShipRegion)</td></tr>
        <tr><td>郵遞區號</td><td>@Html.TextBoxFor(model => model.ShipPostalCode)</td></tr>
        <tr><td>出貨地址</td><td>@Html.TextBoxFor(model => model.ShipAddress)</td></tr>
        <tr><td>出貨說明</td><td>@Html.TextBoxFor(model => model.ShipName)</td></tr>
        <tr><td><input type="submit" /><input type="reset" /></td></tr>
    </table>

    <a id="addNewDetial" href="#">新增一筆</a>
    <table class="table table-striped">
        <tr>
            <td>商品</td>
            <td>單價</td>
            <td>數量</td>
            <td>小計</td>
        </tr>
        <tbody id="tbContent">
            @for (int i = 1; i < Model.OrderDetails.Count; i++)
            {
                <tr>
                    <td>@Html.DropDownListFor(model => model.OrderDetails[i].ProductId, new SelectList(ViewBag.ProData,"Value","Text", Model.OrderDetails[i].ProductId), new { @class = "ProductId" })</td>
                    <td>@Html.TextBoxFor(model => model.OrderDetails[i].UnitPrice, new { @class = "UnitPrice" })</td>
                    <td>@Html.TextBoxFor(model => model.OrderDetails[i].Qty, new { @class = "Qty" })</td>
                    <td></td>
                    <td><button type="button" class="btnRemove">取消</button></td>
                </tr>
            }
        </tbody>

    </table>

}


<div>
    @Html.ActionLink("Back to Home", "Index")
</div>

@section scripts{
    <script type="text/javascript">
        //明細資料範本
        var trtemplate = $('#tbContent tr').eq(0).html();

        //新增一列名資料
        $("#addNewDetial").click(function (e) {
            $('#tbContent').append('<tr>' + trtemplate + '</tr>');
        });

        //移除TR
        $('#tbContent').on('click', '.btnRemove', function () {
            if ($('#tbContent tr').length > 1)
                $(this).closest('tr').remove();
        });

        //表單送出前置換element name 讓Action 可以讀到OrderDetials
        $('form').submit(function () {
            for (var i = 0 ; i < $('#tbContent tr').length; i++) {
                $('.ProductId').eq(i).attr('name', 'OrderDetails[' + i + '].ProductId');
                $('.Qty').eq(i).attr('name', 'OrderDetails[' + i + '].Qty');
                $('.UnitPrice').eq(i).attr('name', 'OrderDetails[' + i + '].UnitPrice');
            }
        });
    </script>
}